/* CSS declarations go here */
body {
  margin: 0;
}

html, body, video {
  width: 100%;
  height: 100%;
}

canvas {
  visibility: hidden;
  height: 240px;
}

#controls input{
  position: fixed;
  width: 100px;
  height: 30px;
  bottom: 50px;
  left: 50%;
  margin-left: -50px;
}

#controls input[type="email"]{
  width: 300px;
  margin-left: -150px;
  bottom: 80px;
}