<template name="home">
  
  {{#if currentUser}}
    <div><a href="{{pathFor 'list' userId=currentUser._id}}">Your Snaps</a></div>
  {{/if}}

  <video autoplay></video>
  <canvas></canvas>

  <div id="controls">
    <input type="email" placeholder="Recipient's email here">
    <input type="button" class='submit' value="Snap">
  </div>
  <br>

  {{#if currentUser}}
    {{#each snap currentUser._id}}
      <img src="{{selfieSrc}}" alt="">
    {{/each}}
  {{/if}}

</template>