<template name="list">
  <a href="{{pathFor 'home'}}">Back to Home</a>
  <h1>Snaps List!</h1>
    <ol>
      {{#each snaps}}
        <li><a href="/snap/{{_id}}"> New Snap from {{from}}</a></li>
      {{/each}}
    </ol>
</template>